@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}

:root {
    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

body{
    background-color: var(--darkBlue);
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
}

main{
    background-color: var(--darkGrayishBlue);
    border-radius: 15px;
    
}



